<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TaskManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="TaskManagerEntities" connectionString="metadata=res://*/Database.SqlTaskManager.csdl|res://*/Database.SqlTaskManager.ssdl|res://*/Database.SqlTaskManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\TaskManager.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<userSettings>
		<TaskManager.Properties.Settings>
			<setting name="ShowTaskListBy" serializeAs="String">
				<value>ColorCategory</value>
			</setting>
		</TaskManager.Properties.Settings>
	</userSettings>
</configuration>